name: reliable-form-pipeline

services:
  postgres:
    image: postgres:18
    container_name: reliable-form-pipeline-postgres
    restart: unless-stopped
    ports:
      - "6432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: reliable-form-pipeline
    volumes:
      - pgdata:/var/lib/postgresql
  
  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - 1025:1025
      - 8025:8025

  redis:
    image: redis:8
    container_name: reliable-form-pipeline-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
